.product__details {
      border-bottom: 2px solid gray;
      padding: .8rem;

}

.btn__regular {
      color: black;
      border: 0;
      background: goldenrod;
      padding: .6rem 2rem;
      border-radius: .5rem;
      font-weight: bold;
}

.rating__part {
      color: goldenrod;
      font-size: .5rem;
}