.review__container {
      width: 571px;
      border: 2px solid red;
      padding: 10px;
      border-radius: 5px;
}

.review__container img {
      width: 91px;
      height: 91px;
      border-radius: 6px;
}

.delete__icon {
      background: #EB5757;
      width: 38px;
      height: 38px;
      text-align: center;
      border-radius: 50%;
      padding: 8px;
      color: #fff;
      cursor: pointer;
}