.product__details {
      border: 2px solid gray;
      padding: 1rem;
}

.font__color {
      color: #BD272D;
}

.btn__regular {
      background: #BD272D;
      border: 0;
      padding: .4rem 1.5rem;
      color: #fff;
      border-radius: 3px;
      box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

}

.ratings {
      color: #BD272D;
      font-size: .5rem;
}